body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    font: 400 18px/1.8 Lato, sans-serif;
}

.main {
    margin-top: 70px;
}

h1.title { 
    color: #6A2C0C;
    font-size: 50px;
    font-weight: 400; 
}

hr {
    width: 10%;
    border-color: #F18E1C;
}

.form-group {
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: #6A2C0C;
    box-shadow: inset 0 1px 1px rgba(100, 40, 10, 0.075), 0 0 8px rgba(255, 130, 40, 0.6);
  }

label {
    margin-bottom: 15px;
}

input, input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login {
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 4px 4px rgba(241, 142, 30, 0.5);
    -webkit-box-shadow: 0px 4px 4px rgba(241, 142, 30, 0.5);
    box-shadow: 0px 4px 4px rgba(241, 142, 30, 0.5);

}

.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;

}

.login-button {
    margin-top: 5px;
    background-color: #6A2C0C;
}

.login-button:hover {
    background-color: #F18E1C;
}

.login-register, a {
    font-size: 16px;
    text-align: center;
    color: #6A2C0C;
}
